.main{
    background-color: #f6f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }
  .output{
    display: flex;
    flex-direction: column; 
    background-color: rgb(217, 214, 214); 
    width: 70%;
    flex-grow: 1; 
    min-height: 250px;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 4px;
  }
  .input{
    margin-top: 30px;
    border-style: solid;
   border-width: 1px;
   border-radius: 4px;
   background-color: white;
   color: black;
   width:70%;
   height:40px;
   margin-left: 15%;
   margin-right: 15%;
  }
  .footer{
    display:flex;
    flex-direction:column;
    background-color:rgb(217, 214, 214) ;
     width:100%;
     margin: 0%; 
     height:40px ;
     bottom:0;
     position: absolute;
     margin:0;
     margin-top: 50px;
     align-items: center;
    justify-content: center;
  }

 .profile{
    border-radius: 50%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    height:27px;
    width:27px;
    margin-bottom: 0;
    vertical-align: top;
 }
 .text{
    width:200px;
    height:25px;
    margin-left: 35px;
    background-color: white;
    color:black;
    border-radius: 4px;
    margin-top: 0;
    vertical-align: top;
 }